.asian{
    background: url(../img/back-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 250px 0;
    .restaurant{
        h2{
            color: #fff;
            text-transform: uppercase;
        }
        h1{
            color: #fff;
            text-transform: uppercase;
        }
        p{
            color: #fff;
            padding-bottom: 35px;
        }
        .order-right-night{
            a{
                padding: 15px 20px;
                background: hotpink;
                border-radius: 4px;
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
            }
            a:hover{
                transition: 0.9s;
                background: #fff;
                color: hotpink;
            }
        }
    }
}