.footer{
    background-color: #595959;
    padding: 50px 0 50px 0;
    .copyright{
        .text{
            h5{
                font-size: 14px;
                text-transform: capitalize;
                color: #fff;
                text-align: center;
                span{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: none;
                    border: 1px solid #808080;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }
    .brands{
        display: flex;
        justify-content: center;
        align-items: center;
        .icon{
            ul{
                margin-top: 0;
                margin-bottom: 1rem;
                padding: 0;
                li{
                    list-style-type: none;
                    display: inline-block;
                    margin-right: 5px;
                    a{
                        text-decoration: none;
                        color: #000;
                        font-size: 16px;
                        background-color: #fff;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 1s;
                    }
                    a:hover{
                        background-color: #000;
                        color: #fff;
                        transition: 0.7s;
                    }
                }
            }
        }
    }
    .design{
        line-height: 12px;
        padding-top: 28px;
        h6{
            margin: 0;
            font-size: 14px;
            color: #fff;
            text-align: center;
            span{
                color: #ff5050;
            } 
        }
    }
}